<h1 style="text-align: center;">Hospital management</h1>
<a href="/lobby/newPatient" ><button type="button" class="btn btn-primary btn-lg btn-block mt-4">Lobby</button></a>
<a href="/reception" ><button type="button" class="btn btn-secondary btn-lg btn-block mt-4">Reception</button></a>
<a href="/doctorRoom" ><button type="button" class="btn btn-primary btn-lg btn-block mt-4">Doctor Room</button></a>
